.link {
  margin: 20px;
  text-align: center;
}

.product-index-container {
  max-width: 1000px;
  height: 100%;
  display: contents;
}

.form-container {
  margin: 30px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .product_container {
    flex: 0 0 auto;
    margin-right: 3px;
  }
}
