<div class="small-cover-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1577058109956-67adf6edc586?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container" style="max-width: 700px">
    <h1>Register today and enjoy <strong>up to 15% off on your first order</strong></h1>
    <h2>Thousands of the most unique products from Istanbul's most authentic stores.</h2>
    <a class="btn btn-lg-rounded-primary" style="margin-left: 20px" href="">start the quizz</a>
  </div>
</div>

<div class="container text-center" style="margin-top: 40px">
  <h2 style="margin-bottom: 40px"><b>How OurHood Works:</b></h2>
  <div class="row">
    <div class="how-it-works-card align-items-center">
      <%= image_tag "product.svg", class: "info-card-img col-12 col-lg-6" %>
      <div class="col-12 col-lg-6">
        <h4><b>Answer Our Survey</b></h4>
        <p>Tell us about your shopping preferences and we will prepare a gift box that fits your needs and taste.</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px">
    <div class="how-it-works-card d-flex align-items-center col-12">
      <div class="col-12 col-lg-6">
        <h4><b>Select Your Plan</b></h4>
        <p>Chose one of our specially prepared plans for you with the most unique products from Istanbul's best local shops.</p>
      </div>
      <%= image_tag "product.svg", class: "info-card-img col-12 col-lg-6" %>
    </div>
  </div>
  <div class="row" style="margin-top: 40px">
    <div class="how-it-works-card d-flex align-items-center col-12">
      <%= image_tag "product.svg", class: "info-card-img col-12 col-lg-6" %>
      <div class="col-12 col-lg-6">
        <h4><b>Add To Your Box</b></h4>
        <p>Chose one of our specially prepared plans for you with the most unique products from Istanbul's best local shops.</p>
      </div>
    </div>
  </div>
  <a class="btn btn-lg-rounded-primary" style="margin-bottom: 40px" href="">let's get started</a>
</div>



