.box-card.selected {
  border: 1px solid $primary;
}

.box-card.selected h4 {
  color: $primary;
}


.box-card h3 {
  color: black;
}


.box-card {
  cursor: pointer;
}
.boxes-img {
  height: 175px;
  width: 200px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
  border-radius: 25px;
}

.card.border.border-primary.mt-2 {
  border-radius: 25px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
 }

.presents-img.float-right.border.border-primary.m-2 {
  height: 175px;
  width: 200px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
  border-radius: 25px;
}

.boxes.btn.btn-primary.btn-sm {
  border-radius: 50px;
  // box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
    :hover {
      background-color: #0DBF6C;
      color: white;
      font-weight: bold;
    }
}

.btn {
  color: white;
  text-transform: uppercase;
}

.col-12.col-lg-6.bottom{
  margin-bottom: 150px;
}

@media only screen and (max-width: 768px) {
  h3, h4 {
    font-size: 24px;
  }
}
