.boxes-img {
  max-height: 213px;
  width: 260px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
  border-radius: 25px;
}

.card.border.border-primary.mt-2 {
  border-radius: 25px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
 }

.presents-img.float-right.border.border-primary.m-2 {
  height: 213px;
  max-width: 260px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
  border-radius: 25px;
}

.boxes.btn.btn-primary.btn-sm {
  border-radius: 50px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
    :hover {
      background-color: #0DBF6C;
      color: white;
      font-weight: bold;
    }
}

.btn {
  color: white;
  text-transform: uppercase;
}
