.btn-rounded-primary{
  background-color: #10E380;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 50px;
}

@media only screen and (max-width: 1090px) {
  .btn-rounded-primary {
    display: block;
    padding: 0.5rem 0;
    color: $primary;
    background-color: transparent;
    border-radius: unset;
  }
  .btn-rounded-primary:hover{
  background-color: transparent !important;
  color: #159a5f !important;
  }
}

.btn-rounded-primary:hover{
  background-color: #0DBF6C;
  color: white;
  text-decoration: none;
}

.btn-lg-rounded-primary{
  background-color: #10E380;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 46px;
  border-radius: 50px;
}

.btn-lg-rounded-primary:hover{
  background-color: #0DBF6C;
  color: white;
  text-decoration: none;
}

.btn-rounded-secondary{
  background-color: #EE4266;
  color: white;
  border-radius: 10rem;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 50px;
}


