.btn-rounded-primary{
  background-color: #10E380;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 50px;
}

.btn-rounded-primary:hover{
  background-color: #0DBF6C;
  color: white;
  text-decoration: none;
}

.btn-lg-rounded-primary{
  background-color: #10E380;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 46px;
  border-radius: 50px;
}

.btn-lg-rounded-primary:hover{
  background-color: #0DBF6C;
  color: white;
  text-decoration: none;
}

.btn-rounded-secondary{
  background-color: #EE4266;
  color: white;
  border-radius: 10rem;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 50px;
}

.form-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#10E380, #0DBF6C);
  transition: background 0.3s ease;
  border: 1px solid #0DBF6C;
  margin-bottom: 5px;
}

.form-button:hover {
  background: linear-gradient(#0DBF6C, #10E380);
  color: white;
}

.form-secondary-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #EE4266;
  transition: background 0.3s ease;
  border: 1px solid #0DBF6C;

}

.form-secondary-button:hover {
  color: white;
  text-decoration: none;
  background: #EE4266;

}
