.container .info-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info-card {
  width: 300px;
  text-align: center;
}

.info-card-img {
  height: 300px;
}

 .card-image-container{
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 950px;
  max-height: 650px;
}

.container .how-it-works-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.how-it-works-card {
  width: 300px;
  text-align: center;
  padding: 20px;
}
