.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 120px;
}

.nav-border {
  border-color: black;
}

.nav-item {
  display: inline-flex;
  align-items: center;
}

.green-text {
color: grey;
}

.green-text:hover {
color: #0DBF6C;
}

