.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 120px;
}


.nav-item {
  display: inline-flex;
  align-items: center;
}

.green-text {
color: grey;
}

.green-text:hover {
color: #0DBF6C;
}

.navbar{
  background-color: transparent;
  transition: 0.5s background-color ease;
  color: white;
  @media only screen and (max-width: 1090px) {
    background: white;
    .btn-rounded-primary {
      display: block;
      padding: 0.5rem 0;
      color: $primary;
      background-color: transparent;
      border-radius: unset;
    }
    .btn-rounded-primary:hover{
    background-color: transparent !important;
    color: #159a5f !important;
    }
  }
}

.navbar-white {
  background-color: white;
  border-bottom: 1px solid rgba(200,200,200,0.5);
  box-shadow: 0 1px 2px 3px, rgba(200,200,200,0.2);
  .nav-link-page {
  color: white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  // padding: 0.5rem 1rem;
  }
}


