.product-card {
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(200,200,200,0.5);

  .product-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #category_name {
    font-size: 0.7em;
    color:  #10E380;
    letter-spacing: 1px;
  }

  #product_name {
    font-size: 1.2em;
    color: black;
    margin-top: -5px;
  }

  #price {
    color: #EE4266;
    margin-top: -5px;
  }

  #product-img {
    width: 100%;
    height: auto;
    align-self: center;
  }

  .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: gray;
    font-size: .8em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
    height: 120px;
  }

  .card_button {
    background: darken(white, 25%);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    cursor: pointer;
    width: 90%;
    &:hover {
      background:  #10E380;
      transition: all .4s ease-in-out;
    }
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    &--content {
      flex-direction: column;

      .product-image {
        height: 200px;
        width: 100%;
      }

      .product-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
}
